body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fefefe;
  color: #222;
}

header {
  background-color: #0055aa;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  background-color: #f0f0f0;
  padding: 1rem;
  font-size: 0.9rem;
  color: #650;
}
